<nav class="navbar fixed-bottom navbar-expand bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-1 mb-lg-0">
                <li class="nav-item" style="margin-right:1.5em;"><a href="#aluno/agenda"><img
                            class="nav-link" src="../../assets/img/icons/calendar.png" width="50px" height="50px"
                            alt=""></li></a>
                <li class="nav-item" style="margin-right:1.5em;"><a href="#aluno/dashboard-desempenho"><img
                            class="nav-link" src="../../assets/img/icons/grafico-dash-aluno.png" width="50px" height="50px"
                            alt=""></li></a>
                <li class="nav-item" style="margin-right:1.5em;"><a href="#aluno/index"><img
                            class="nav-link" src="../../assets/img/icons/muscle.png" width="50px" height="50px" alt="">
                </li></a>
                <li class="nav-item" style="margin-right:1.5em;"><a href="#aluno/perfil"><img
                            class="nav-link" src="../../assets/img/icons/user.png" width="50px" height="50px" alt="">
                </li></a>
            </ul>


        </div>
    </div>
</nav>